@import "tailwindcss";

@font-face {
  font-family: "Noto Naskh Arabic";
  src: local("Noto Naskh Arabic"), local("Noto Nastaliq Urdu"), local("Segoe UI");
}


@media print {
  @page {
    size: A4;
    margin: 10mm;
  }

  html,
  body {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    background: white !important;
  }

  body * {
    visibility: hidden;
  }

  .print-area,
  .print-area * {
    visibility: visible;
  }

  .print-area {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    max-width: 190mm;

    margin: 0 auto;
    padding: 10mm;

    box-sizing: border-box;

    background: white !important;
    border: none !important;
    box-shadow: none !important;
  }

  .no-print {
    display: none !important;
  }
}